.main {
    width: 400px;
    display: flex;
    flex-direction: column;
    
    .main-content {
        height: auto;
        padding: 5px;
        box-sizing: border-box;
    }
    .qr {
        width: 100%;
    }
}